In [2]:
import pandas as pd
import numpy as np
data = {'BoolCol': [1, 2, 3, 3, 4],
        'attr': [22, 33, 22, 44, 66],
        'BoolC': [1, 2, 3, 3, 4],
        'att': [22, 33, 22, 44, 66],
        'Bool': [1, 2, 3, 3, 4]
        }
df = pd.DataFrame(data)

In [7]:
df

   BoolCol  attr  BoolC  att  Bool
0        1    22      1   22     1
1        2    33      2   33     2
2        3    22      3   22     3
3        3    44      3   44     3
4        4    66      4   66     4