In [2]:
import tushare as ts
df=ts.get_stock_basics()
df.head(5)
att=df.columns.values.tolist()
print(att)

['name', 'industry', 'area', 'pe', 'outstanding', 'totals', 'totalAssets', 'liquidAssets', 'fixedAssets', 'reserved', 'reservedPerShare', 'esp', 'bvps', 'pb', 'timeToMarket', 'undp', 'perundp', 'rev', 'profit', 'gpr', 'npr', 'holders']

code,代码
name,名称
industry,所属行业
area,地区
pe,市盈率
outstanding,流通股本(亿)
totals,总股本(亿)
totalAssets,总资产(万)
liquidAssets,流动资产
fixedAssets,固定资产
reserved,公积金
reservedPerShare,每股公积金
esp,每股收益
bvps,每股净资
pb,市净率
timeToMarket,上市日期
undp,未分利润
perundp, 每股未分配
rev,收入同比(%)
profit,利润同比(%)
gpr,毛利率(%)
npr,净利润率(%)
holders,股东人数
['name', 'pe', 'outstanding', 'totals', 'totalAssets', 'liquidAssets', 'fixedAssets', 'esp', 'bvps', 'pb',  'perundp', 'rev', 'profit', 'gpr', 'npr', 'holders']

In [4]:
from xpinyin import Pinyin
pin=Pinyin()

In [6]:
import pandas as pd
import numpy as np

In [19]:
df['UP'] = None
for index, row in df.iterrows():
    name_str = df.name[index]
    #print(name_str)
    up_letter = pin.get_initials(name_str,u'')
    #print(up_letter)
    df.at[index,['UP']]=up_letter
df[df['UP']=='HTGD']

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders,UP
code,,,,,,,,,,,,,,,,,,,,,
600487,亨通光电,通信设备,江苏,14.91,18.6,19.04,3657833.5,2502673.75,462511.59,320274.16,...,3.49,20030822,667799.5,3.51,26.72,26.1,21.1,8.74,131950.0,HTGD

In [34]:
clommun_show = ['name', 'pe', 'outstanding', 'totals', 'totalAssets', 'liquidAssets', 'fixedAssets', 'esp', 'bvps', 'pb',  'perundp', 'rev', 'profit', 'gpr', 'npr', 'holders']

In [35]:
df['code']=df.index

In [36]:
df[df.code == '002456'][clommun_show]

,name,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,esp,bvps,pb,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,
002456,欧菲科技,21.79,26.68,27.13,3995544.75,2267572.5,1036326.5,0.51,4.05,3.64,1.68,27.35,34.69,15.0,4.42,144860.0

In [41]:
str = df[df.code == '600487'][clommun_show].name.values
print(str)

['亨通光电']